[submodule "vim.symlink"]
	path = vim.symlink
    branch = master
	url = https://github.com/vkoop/vimdotfiles.git


[submodule "zsh-autosuggestions"]
	path = load_excluded/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "load_excluded/oh-my-zsh.symlink"]
	path = load_excluded/oh-my-zsh.symlink
	url = https://github.com/ohmyzsh/ohmyzsh
